
.container{
    background-color: rgb(41, 39, 39);
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}

.divButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.logOut{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 15%;
}

.buttons{
    background-color: rgb(15, 15, 15);
    color: #fff;
    padding: 10px 30px;
    transition: background-color 0.4s ease;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons:hover{
    background-color: #5d6363;
    color: white;
}